.puzzle_input{
  width: 33px;
  height: 33px;
  border: 0.01px;
  border-color: #141c3a;
  border-style: solid;
  box-sizing: border-box;
  border-spacing: 0;
  margin:0;
  padding:0;
  text-align: center;
  font-weight: 600;
}


#puzzle {
  width: 297px;
  height: 297px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
  margin-left: 12px;
 
}

.Buttons{
  margin:auto
}

.title{
  text-align: center;
  color:rgb(14, 4, 4);
  font-weight: 100px;
  font-size: large;
  margin-top: 100px;
  text-decoration: underline;
  margin-right: 55px;
  margin-left: 48px;
  
}

.border_right{
  border-right: 3px solid #141c3a;
  /* border-color: #141c3a;
  border-style: solid; */
}

.border_bottom{
  border-bottom: 3px solid #141c3a;
  /* border-color: #141c3a;
  border-style: solid; */
}

.border_up{
  border-top: 3px solid #141c3a;
  /* border-color: #141c3a;
  border-style: solid; */
}

.border_left{
  border-left: 3px solid #141c3a;
  /* border-color: #141c3a;
  border-style: solid; */
}

.pointer_cursor{
  cursor: pointer;
}

.Dark_Blue_color{
  color:blue
}

.Dark_black_color{
  color:black
}

.Light_orange_color{
  color:orange
}

.choice_button{
  background-color: white;
  border-radius: 10px; 
  margin:8px;
  cursor: pointer;
  font-weight: 700;
}


#root{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.btn{
  margin: 5px;
}

.wrong_filled{
  background-color: lightcoral
}

.current_choice{
  background-color: rgb(46, 33, 33);
  color: white;
}

.footer{
  margin-top: 30px;
}
